[package]
name = "ufotofu-fuzz"
version = "0.0.0"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = { version = "0.4.0", features = ["arbitrary-derive"] }
smol = "2.0.0"
ufotofu = { path = "..", features = ["dev"] }
wrapper = "0.1.1"

[[bin]]
name = "slices"
path = "fuzz_targets/sync/slices.rs"
test = false
doc = false
bench = false

[[bin]]
name = "into_vec"
path = "fuzz_targets/sync/into_vec.rs"
test = false
doc = false
bench = false

[[bin]]
name = "into_vec_fallible"
path = "fuzz_targets/sync/into_vec_fallible.rs"
test = false
doc = false
bench = false

[[bin]]
name = "scramble_consumer"
path = "fuzz_targets/sync/scramble_consumer.rs"
test = false
doc = false
bench = false

[[bin]]
name = "scramble_consume_all"
path = "fuzz_targets/sync/scramble_consume_all.rs"
test = false
doc = false
bench = false

[[bin]]
name = "scramble_producer"
path = "fuzz_targets/sync/scramble_producer.rs"
test = false
doc = false
bench = false

[[bin]]
name = "scramble_fill_all"
path = "fuzz_targets/sync/scramble_fill_all.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_slices"
path = "fuzz_targets/local_nb/slices.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_into_vec"
path = "fuzz_targets/local_nb/into_vec.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_into_vec_fallible"
path = "fuzz_targets/local_nb/into_vec_fallible.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_scramble_consumer"
path = "fuzz_targets/local_nb/scramble_consumer.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_scramble_consume_all"
path = "fuzz_targets/local_nb/scramble_consume_all.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_scramble_producer"
path = "fuzz_targets/local_nb/scramble_producer.rs"
test = false
doc = false
bench = false

[[bin]]
name = "local_nb_scramble_fill_all"
path = "fuzz_targets/local_nb/scramble_fill_all.rs"
test = false
doc = false
bench = false
